<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd			
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- SqlSession setup for MyBatis Database Layer -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- 공통된 설정을 위한 설정파일이다. 작성하지않아도 무방하다 -->
		<property name="configLocation" value="classpath:/egovframework/sqlmap/tax/sql-mapper-config.xml" />
		<!-- SQL이 작성된 파일의 위치를 패턴으로 설정한다. -->
		<property name="mapperLocations" value="classpath:/egovframework/sqlmap/tax/mappers/*.xml" />
	</bean>
	

	<!-- MapperConfigurer setup for MyBatis Database Layer with @Mapper("deptMapper") in DeptMapper Interface -->
 	<bean class="egovframework.rte.psl.dataaccess.mapper.MapperConfigurer">
 		<!-- Mapper 인터페이스 파일이 위치한 패키지 경로를 설정한다. -->
		<property name="basePackage" value="egovframework.tax.**.service.impl" />
	</bean>
    
</beans>