@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'DuruSansRegular';
    src: url('/common/fonts/durusans-regular-webfont.eot');
    src: url('/common/fonts/durusans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/common/fonts/durusans-regular-webfont.woff') format('woff'),
         url('/common/fonts/durusans-regular-webfont.ttf') format('truetype'),
         url('/common/fonts/durusans-regular-webfont.svg#DuruSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Noto Sans Light';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url('/common/fonts/eot/NotoSansKR-Light-Hestia.eot'),
    url('/common/fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix') format('embedded-opentype'),
    url('/common/fonts/woff/NotoSansKR-Light-Hestia.woff') format('woff'),
    url('/common/fonts/otf/NotoSansKR-Light-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url('/common/fonts/eot/NotoSansKR-Regular-Hestia.eot'),
    url('/common/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'),
    url('/common/fonts/woff/NotoSansKR-Regular-Hestia.woff') format('woff'),
    url('/common/fonts/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url('/common/fonts/eot/NotoSansKR-Bold-Hestia.eot'),
    url('/common/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'),
    url('/common/fonts/woff/NotoSansKR-Bold-Hestia.woff') format('woff'),
    url('/common/fonts/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'nanumGothicWeb';
	src: url('/common/fonts/nanumGothicWeb.eot');
    src: url('/common/fonts/nanumGothicWeb.eot?#iefix') format('embedded-opentype')
		 url('/common/fonts/nanumGothicWeb.woff') format('woff'), 
		 url('/common/fonts/nanumGothicWeb.ttf') format('truetype'), 
		 url('/common/fonts/nanumGothicWeb.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nanumMyungjoWeb';
	src: url('/common/fonts/nanumMyungjoWeb.eot');
    src: url('/common/fonts/nanumMyungjoWeb.eot?#iefix') format('embedded-opentype')
		 url('/common/fonts/nanumMyungjoWeb.woff') format('woff'), 
		 url('/common/fonts/nanumMyungjoWeb.ttf') format('truetype'), 
		 url('/common/fonts/nanumMyungjoWeb.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

